{% extends 'navbar_store.html.twig' %}

{% block title %}{{ parent() }} - Logout{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="store p-3">
        <div class="container">
            <section class="w-50 m-auto">
                <article class="border p-3 shadow-sm">
                    <h4 class="text-center">Confirmer la déconnexion</h4>
                    <div class="text-center">
                        <a class="btn btn-primary rounded-0 text-center" href="{{ path('logout') }}">Confirmer</a>
                    </div>
                </article>
            </section>
        </div>
    </div>
{% endblock %}