{% extends 'navbar_store.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="store">
        <div class="container">
            <section>
                <h1 class="display-4 text-center mb-2">Accueil</h1>
            </section>
        </div>
    </div>
{% endblock %}