.border.p-3.shadow-sm {
    background-color: white;
}

.card {
    width: 257px;
    height: 350px;
}

.card-title {
    font-size: 1.12rem;
}

.display-4 {
    font-size: 2.5rem;
}

.p-2.w-75.m-auto, .p-2.w-75.m-auto a {
    height: 200px;
}

.p-2.w-75.m-auto a {
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

.store {
    background-color: #f1f1f1;
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.125);
}