{% extends 'navbar_admin.html.twig' %}

{% block title %}{{ parent() }} - Administration{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="store pb-5 mb-5 pt-4">
        <div class="container">
            <section>
                <h1 class="display-4 text-center mb-4">Tableau de bord</h1>
                <article>

                </article>
            </section>
        </div>
    </div>
{% endblock %}