{% extends 'navbar_store.html.twig' %}

{% block title %}{{ parent() }} - Confirmation{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="store pb-5 mb-5 pt-4">
        <div class="container">
            <section>
                <article>
                    <div class="alert {{ class_alert }} rounded-0">{{ text_alert }}</div>
                </article>
                <article class="text-center">
                    <a class="btn btn-primary" href="#">Consulter vos commandes.</a>
                </article>
            </section>
        </div>
    </div>
{% endblock %}